[user]
	name = ha4gu
	email = 9391978+ha4gu@users.noreply.github.com

[color]
	ui = true
	diff = true

[alias]
    br = branch
    co = commit
    st = status
    sw = switch

[push]
	default = simple

[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/

[url "git@bitbucket.org:"]
	InsteadOf = https://bitbucket.org/
	InsteadOf = git://bitbucket.org/

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig_work

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
