[user]
    name  = Yuta HASHIGUCHI
    email = 9391978+ha4gu@users.noreply.github.com

[color]
    ui   = true
    diff = true

[alias]
    st = status
    sw = switch

[core]
    editor = vim

[merge]
    tool = vimdiff
    conflictStyle = diff3

[push]
    default = current

[pull]
    rebase = false

[url "git@github.com:"]
    InsteadOf = https://github.com/
    InsteadOf = git://github.com/

[url "git@bitbucket.org:"]
    InsteadOf = https://bitbucket.org/
    InsteadOf = git://bitbucket.org/

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

[init]
    defaultBranch = main
    templateDir = ~/.git-templates/git-secrets

[include]
    path = ~/.gitconfig_secrets

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig_work

[includeIf "gitdir:~/src/work/"]
    path = ~/.gitconfig_work
